<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 폼</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<!-- 헤더 -->
<th:block th:include="/headerNav"></th:block>
<!-- 로그인 폼 -->
<div class="container">
    <div class="left_container">
        <form action="./login.do" method="post">
            <h1 style="margin: 0;">Sign in</h1>
            <!-- SNS 로고 -->
            <div class="social_container">
                <a href="https://ko-kr.facebook.com/" class="social"><img src="/img/facebook.png"></a>
                <a href="https://www.instagram.com/accounts/login/" class="social"><img src="/img/instagram.png"></a>
                <a href="https://contacts.google.com/?hl=ko" class="social"><img src="/img/google.png"></a>
            </div>
            <span style="font-size: 12px;">or use your account</span>
            <!-- ID & PW -->
            <input type="id" placeholder="ID" id="userId" name="id">
            <input type="password" placeholder="Password" id="pw" name="pw">
            <a href="#">Forgot your password?</a>
            <button class="signin">SIGN IN</button>
        </form>
    </div>
    <div class="right_container">
        <div class="right_box">
            <div class="right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <a class="signup" th:onclick="" href="/user/register.do">SIGN UP</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>