<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/matchingRegister.css">
</head>
<body>
<!-- 헤더 -->
<header class="header">

  <div class="inline">
    <div data-col-group="left" class="inline-col-group inline-col-group-left" style="width: 341px;"></div>
    <div data-col-group="center" class="inline-col-group inline-col-group-center" style="width: 100%;">
      <a class="subject" href="#">TRIP WITH YOU</a>
    </div>
    <div data-col-group="right" class="inline-col-group inline-col-group-right" style="width:341px;">
      <div class="right-menu">
        <a class="login" href="#">로그인</a>
        <a class="mypage" href="#">마이페이지</a>
        <a class="service-center" href="#">고객센터</a>
      </div>
    </div>
  </div>

  <!-- 헤더 안의 내브바 -->
  <div class="nav">
    <div><a href="#">플래너</a></div>
    <div><a href="#">동행찾기</a></div>
    <div><a href="#">커뮤니티</a></div>
    <div><a href="#">여행후기</a></div>
  </div>
</header>

<!-- 지도 & 장소 선택 -->
<div class="box1">
  <div class="box2">
    <div class="menubar">
      <div style="background-color: lightsteelblue;"><p>지역 선택</p></div>
      <div style="background-color: azure;"><p>서울</p></div>
      <div style="background-color: bisque;"><p>강원</p></div>
      <div style="background-color: darkcyan;"><p>충청도</p></div>
      <div style="background-color: rosybrown;"><p>전주</p></div>
      <div style="background-color: silver;"><p>경주</p></div>
      <div style="background-color: darkkhaki;"><p>부산</p></div>
      <div style="background-color: thistle;"><p>제주도</p></div>
    </div>
    <div class="seoul">
      <img src="/img/jeju.png" alt="">
    </div>
  </div>
  <div class="box3">
    <input type="date"> - <input type="date"> - <input type="text" placeholder="인원수">
  </div>
</div>

<!-- 등록 폼 -->
<form class="imgChoice" action="" method="post" enctype="multipart/form-data">
  <input type="hidden" name="userId" value="user1">
  <div>
    <label for="imgChoice"></label>
    <input type="file" id="imgChoice">
  </div>
  <div>
    <input type="text" name="title" placeholder="타이틀">
  </div>
  <div>
    <input type="text" name="tDestination" placeholder="D">
  </div><div>
    <input type="text" name="localNo" placeholder="L">
  </div>
  <div>
    <textarea name="contents" id="contents" cols="30" rows="10" placeholder="내용 입력.."></textarea>
  </div>
  <div>
    <button style="width: 150px; height: 30px;">취소</button>
    <button style="width: 150px; height: 30px;">등록</button>
  </div>
</form>
</body>
</html>