<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">>
<head>
    <meta charset="UTF-8">
    <title>게시글 수정 폼</title>
    <link rel="stylesheet" href="/css/matching/matchingDetail.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<header>
    <th:block th:include="headerNav"></th:block>
    <th:block th:include="headerNavMenu"></th:block>
</header>
<div layout:fragment="contents">
    <h1>
        <span th:text="${matching.matchingNo}"></span>. 게시글 수정 페이지
    </h1>
    <form action="/matching/matchingModify.do" method="post" enctype="multipart/form-data">
    <div class="uk-margin">
        <label class="uk-form-label" for="userMatchingNo">번호 : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" readonly id="userMatchingNo"
            th:value="${matching.matchingNo}" name="matchingNo">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="matchingTDestination">목적지 : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" id="matchingTDestination"
                   th:value="${matching.tDestination}" name="tDestination">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="matchingTitle">제목 : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" id="matchingTitle"
                   th:value="${matching.title}" name="title">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="matchingContents">내용 : </label>
        <div class="uk-inline uk-form-width-large">
            <textarea class="uk-textarea uk-form-blank" rows="5" id="matchingContents"
                      th:text="${matching.contents}" name="contents"></textarea>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="matchingUserId">글쓴이(id) : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" id="matchingUserId"
                   th:value="${matching.userId}" name="userId">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="matchingTStart">시작일 : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" id="matchingTStart"
                   th:value="${#calendars.format(matching.getTStart(),'yyyy년 MM월 dd일 HH:mm:ss')}" name="tStart">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="matchingTEnd">종료일 : </label>
        <div class="uk-inline uk-form-width-large">
            <input class="uk-input uk-form-blank" type="text" id="matchingTEnd"
                   th:value="${#calendars.format(matching.getTEnd(),'yyyy년 MM월 dd일 HH:mm:ss')}" name="tEnd">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="matchingTMember">인원 수 : </label>
        <div class="uk-inline uk-form-width-small">
            <input class="uk-input uk-form-blank" type="text" id="matchingTMember"
            th:value="${matching.TMember()}" name="tMember">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">삭제할 이미지 :
        <div th:each="matchingImg,i:${matching.matchingImgList}">
            <label for=""></label>
            <img th:src="@{'/img/match/{file}'(file=${matchingImg.imgPath})}" alt="">
        </div>
        </label>    
    </div>
        <div class="uk-margin">
            <button type="reset" class="uk-button uk-button-default">초기화</button>
            <a th:href="@{'delete.do'(matchingNo=${matching.matchingNo})}" class="uk-button uk-button-danger">삭제</a>
            <button type="submit" class="uk-button uk-button-primary">수정</button>
        </div>
    </form>
</div>
</html>