<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="/css/index.css" rel="stylesheet">
<style>
    body{
        padding: 0;
    }
</style>
    <nav>
        <div class="inline">
            <div class="inline-col-group inline-col-group-left" data-col-group="left" style="width: 341px;"></div>
            <div class="inline-col-group inline-col-group-center" data-col-group="center" style="width: 100%;">
                <a class="subject" href="/">TRIP WITH YOU</a>
            </div>
            <div class="inline-col-group inline-col-group-right" data-col-group="right" style="width:341px;">
                <div class="right-menu">
                    <th:block th:if="${session.loginInfo==null}">
                        <a class="login" href="/user/login.do">로그인</a>
                    </th:block>
                    <th:block th:unless="${session.loginInfo==null}">
                        <a class="login" th:text="${session.loginInfo.name}"></a>
                        <a class="login" th:text="'('+${session.loginInfo.userId}+')'"></a>
                        <a class="login" href="/user/logout.do">
                            로그아웃</a>
                        <a class="mypage" href="/user/detail.do">마이페이지</a>
                    </th:block>
                    <a class="service-center" href="/">고객센터</a>
                </div>
            </div>
        </div>
    </nav>
</html>