<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/index.css" rel="stylesheet">
    <title>TRIP WITH YOU</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:include="headerNav"></th:block>
<th:block th:include="headerNavMenu"></th:block>
<!-- 슬라이더 (움직이는 이미지) -->
    <div class="banner"><h1><b>PICK OF THE WEEK</b></h1></div>
    <div id="slider">
        <div class="image-box">
            <div><img alt="" src="/img/main1.jpeg">Lorem ipsum dolor sit, amet 정효빈 consectetur adipisicing elit. Minus
                unde voluptatibus eum vitae 문현희 hic sit ad ea assumenda architecto placeat!
            </div>
            <div><img alt="" src="/img/main2.jpeg">강아지는 별로다 대충 별로다 안녕하세요 별로</div>
            <div><img alt="" src="/img/main3.jpeg">Lorem ipsum dolor 구도윤sit amet 천하영 consectetur 천하민 adipisicing elit.
                Quod 정승연 eligendi molestias ab inventore consequuntur quae maiores, sit nostrum vero ipsum magni cumque
                officia modi, ea iure dicta vitae consequatur eius?
            </div>
            <div><img alt="" src="/img/main4.jpeg">송아지</div>
            <div><img alt="" src="/img/main5.png">@@@@@@@숨겨진 김민환 Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Enim expedita voluptas 오성훈 santium, nihil, sequi. Accusantium consequatur ducimus 김현섭illum ipsume,
                us ullam.
            </div>
            <!--   clone     -->
            <div class="clone"><img alt="" src="/img/main1.jpeg">Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Minus unde voluptatibus eum vitae hic sit ad ea assumenda architecto placeat!
            </div>
            <div class="clone"><img alt="" src="/img/main2.jpeg">강아지</div>
            <div class="clone"><img alt="" src="/img/main3.jpeg">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Quod eligendi molestias ab inventore consequuntur quae maiores, sit nostrum vero ipsum magni
                cumque officia modi, ea iure dicta vitae consequatur eius?
            </div>
            <div class="clone"><img alt="" src="/img/main4.jpeg">송아지</div>
            <div class="clone"><img alt="" src="/img/main5.png">@@@@@@@</div>
        </div>
    </div>
    <!-- 밑으로는 각 컨텐츠 -->
    <div class="match"><h1>매칭</h1></div>
    <div class="planContainer">
        <div class="planHeading">
            <h1>
                <span>알찬 여행을 위한 여행 계획</span><br>
                어디에서 무엇을 만나든 당황하지 않지!
            </h1>
            <a id="planBtn" th:href="@{'/course/courseMain'}">여행 계획 만들러가기!</a>
        </div>
        <video src="/img/course/Plane%20-%2032975.mp4" autoplay loop muted></video>
    </div>

    <div class="wiki"><h1>위키</h1></div>
    <div class="footer"><h1>푸터</h1></div>
</body>
</html>