header {
    border-bottom: 1px solid rgb(183, 183, 183);
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #fff;
}
header>#headTitle {
    font-size: 1.3em;
    font-weight: bold;
}
nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid rgb(183, 183, 183);
    width: 100%;
    background-color: #fff;
}
nav>a {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
nav>a:hover {
    border-bottom: 3px solid #000;
    color: #000;
}