<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>유저 상세 페이지</title>
    <link href="/uikit/css/uikit.css" rel="stylesheet">
    <script src="/uikit/js/uikit.js"></script>
    <script src="/uikit/js/uikit-icons.js"></script>
    <style>
        body {
            width: 100vw;
            background-color: rgba(159, 173, 153, 0.99);
        }

        #detailBox {
            width: 100%;
        }

    </style>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<header>
    <th:block th:include="headerNav"></th:block>
    <th:block th:include="headerNavMenu"></th:block>
</header>
<div id="detailBox">
    <div class="listContainer" id="myCourseList">
        <figure>
            <table id="CourseTable">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>시작일</th>
                    <th>종료일</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor: pointer" th:each="course : ${courseList}"
                    th:onclick="location.href = [[@{'/course/'+${courseNo}'/detail.do'}]]">
                    <td th:text="${course.courseNo}"></td>
                    <td th:text="${course.startdate}"></td>
                    <td th:text="${course.enddate}"></td>
                </tr>
                </tbody>
            </table>
            <th:block th:insert="/pagination"></th:block>
        </figure>
    </div>
</div>
</body>
</html>