<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 메인화면</title>
    <link href="/css/index.css" rel="stylesheet">
    <link href="/uikit/css/uikit.css" rel="stylesheet">
    <script src="/uikit/js/uikit.js"></script>
    <script src="/uikit/js/uikit-icons.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .header a,
        .inline a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
<header>
    <th:block th:include="headerNav"></th:block>
    <th:block th:include="headerNavMenu"></th:block>
</header>
<div>
    <a class="uk-button-danger uk-position-fixed uk-position-bottom-right uk-padding-small uk-margin-small uk-border-rounded uk-position-z-index"
       href="/upload/register.do">
        <span uk-icon="pencil"></span>
        <span>후기 작성하기</span>
    </a>
</div>

<main class="uk-container uk-container-expand uk-height-viewport">
    <form action="/upload/search.do" class="uk-margin uk-flex uk-flex-center uk-margin-medium-top" method="get">
        <!-- SELECT * FROM upload WHERE utype=1 AND ${condition} like '%${search}%' 구현해야함. -->
        <div uk-form-custom="target: > * > span:first-child">
            <select aria-label="Custom controls" name="condition">
                <option value="title">제목</option>
                <option value="contents">내용</option>
                <option value="user_id">작성자</option>
            </select>
            <button class="uk-button uk-button-default" tabindex="-1" type="button">
                <span></span>
                <span uk-icon="icon: chevron-down"></span>
            </button>
        </div>
        <div class="uk-search uk-search-default">
            <button class="uk-search-icon-flip" type="submit" uk-search-icon></button>
            <input aria-label="Search" class="uk-search-input" name="search" placeholder="Search" type="search">
        </div>
    </form>
    <div id="hotten" onload="paramCheck()">
        <div class="uk-slider-container-offset" uk-slider>
            <h3>인기 TOP 10</h3>
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-5@l uk-child-width-1-6@xl uk-grid">
                    <li class="uk-card-hover uk-padding-remove-left uk-margin-medium-left"
                        th:each="popular : ${popularList}">
                        <a th:href="@{'/upload/detail.do'(uploadNo=${popular.uploadNo})}">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <th:block th:if="${popular.uploadImgList!=null&&popular.uploadImgList.size>0}">
                                        <img alt=""
                                             class="uk-object-cover"
                                             style="width: 300px;height: 300px;object-fit: cover"
                                             th:src="@{'/img/upload/{file}'(file=${popular.uploadImgList[0].imgPath})}">
                                    </th:block>
                                    <th:block th:unless="${popular.uploadImgList!=null&&popular.uploadImgList.size>0}">
                                        <img alt=""
                                             style="width: 300px;height: 300px;object-fit: cover"
                                             th:src="@{'/img/uploadSample/travel/traffic-car-wheel-window-glass-driving-1351201-pxhere.com.jpg'}">
                                    </th:block>
                                </div>
                                <div class="uk-card-header">
                                    <div>
                                        <th:block th:if="${popular.title.length() > 15 }">
                                            <p class="uk-text-bold" th:text="${popular.title.substring(0,14)}+'...'">
                                            </p>
                                        </th:block>
                                        <th:block th:unless="${popular.title.length()>15}">
                                            <p class="uk-text-bold" th:text="${popular.title}"></p>
                                        </th:block>
                                    </div>
                                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <img alt="Avatar" class="uk-border-circle" height="40"
                                                 src="http://via.placeholder.com/40" width="40">
                                        </div>
                                        <div class="uk-width-expand">
                                            <!-- 이름(id) mapper 에서 resultMap 으로 유저 전체 정보를 받아와 이름도 같이 출력할 것 -->
                                            <div class="uk-flex uk-flex-between">
                                                <p class="uk-margin-remove-bottom"
                                                   th:text="${popular.user.name+'('+popular.userId+')'}"></p>
                                            </div>
                                            <div class="uk-flex prefer uk-flex-between">
                                                <p class="uk-text-small uk-margin-remove-top"
                                                   th:text="${#calendars.format(popular.postdate,'yyyy-MM-dd')}"></p>
                                                <div class="uk-text-small">
                                                    <i aria-hidden="true" class="fa fa-commenting-o"></i>
                                                    <th:block th:if="${popular.replyList!=null}">
                                                        <span th:text="${popular.replyList.size()}"></span>
                                                    </th:block>
                                                    <th:block th:unless="${popular.replyList!=null}">
                                                        <span>0</span>
                                                    </th:block>
                                                </div>
                                                <div class="uk-text-small">
                                                    <i aria-hidden="true" class="fa fa-eye"></i>
                                                    <span th:text="${popular.views}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                   uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                   uk-slider-item="next"></a>
            </div>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        <!-- SELECT * FROM upload WHERE utype=1 ORDER BY views DESC LIMIT 1,10 -->
        <a class="uk-align-right" th:href="@{/upload/popular.do}">인기글 더 보러가기 <span class="uk-icon"
                                                                                   uk-icon="icon: chevron-right"></span></a>
    </div>
    <script>
        <!-- 페이지에 파라미터가 존재하면  -->
        function paramCheck() {
            let parameter = document.location.href.split("?")[1];
            if (parameter != null) {
                let hotten = document.querySelector("#hotten");
                hotten.remove();
            }
        }

        paramCheck();
    </script>
    <div class="uk-margin-medium-top">
        <div>
            <h3 class="uk-display-inline-block">전체글</h3>
            <span class="uk-text-small" th:if="${#strings.equals(paging.direct,'DESC')}">
                    (
                    <span uk-icon="chevron-down"></span>
                    )
                </span>
            <span class="uk-text-small" th:unless="${#strings.equals(paging.direct,'DESC')}">
                    (
                    <span uk-icon="chevron-up"></span>
                    )
                </span>
        </div>
        <ul class="uk-margin-medium-bottom uk-background-muted uk-padding-small" uk-accordion="multiple: true">
            <!-- SELECT * FROM upload WHERE uptype=1 AND ??? -->
            <li>
                <a class="uk-accordion-title" href="#">분류 <span uk-icon=" chevron-down"></span></a>
                <div class="uk-accordion-content">
                    <div class="uk-child-width-1-4 uk-overflow-hidden" uk-grid>
                        <div>
                            <p>정렬순</p>
                            <ul class="uk-list uk-list-hyphen uk-list-collapse uk-link-muted">
                                <li><a href="/upload/uploadMain">전체</a></li>
                                <th:block th:with="active=${#strings.equals(paging.orderField,'upload_no')}">
                                    <li th:with="direct=${(active && #strings.equals(paging.direct,'DESC')|| paging.direct==null)?'ASC':'DESC'},
                                                        sort=${(active && #strings.equals(paging.direct,'ASC'))?'(오래된순)':'(최신순)'}">
                                        <a href="" th:classappend="${(active)?'':'uk-link-muted'}"
                                           th:href="@{'{uri}'(uri=${uri},orderField='upload_no',direct=${direct})}">
                                            등록순
                                            <small th:text="${sort}"></small>
                                        </a>
                                    </li>
                                </th:block>
                                <th:block th:with="active=${#strings.equals(paging.orderField,'views')}">
                                    <li th:with="direct=${(active && #strings.equals(paging.direct,'DESC')|| paging.direct==null)?'ASC':'DESC'},
                                                        sort=${(active && #strings.equals(paging.direct,'ASC'))?'(적은순)':'(많은순)'}">
                                        <a href="" th:classappend="${(active)?'':'uk-link-muted'}"
                                           th:href="@{'{uri}'(uri=${uri},orderField='views',direct=${direct})}">
                                            조회수
                                            <small th:text="${sort}"></small>
                                        </a>
                                    </li>
                                </th:block>
                                <th:block th:with="active=${#strings.equals(paging.orderField,'likes')}">
                                    <li th:with="direct=${(active && #strings.equals(paging.direct,'DESC')|| paging.direct==null)?'ASC':'DESC'},
                                                        sort=${(active && #strings.equals(paging.direct,'ASC'))?'(적은순)':'(많은순)'}">
                                        <a href="" th:classappend="${(active)?'':'uk-link-muted'}"
                                           th:href="@{'{uri}'(uri=${uri},orderField='likes',direct=${direct})}">
                                            좋아요
                                            <small th:text="${sort}"></small>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                        <div>
                            <p>지역별</p>
                            <ul class="uk-list uk-list-hyphen uk-list-collapse uk-link-muted">
                                <li><a href="#">강원도</a></li>
                                <li><a href="#">경기도</a></li>
                                <li><a href="#">경상남도</a></li>
                                <li><a href="#">경상북도</a></li>
                                <li><a href="#">대구광역시</a></li>
                                <li><a href="#">대전광역시</a></li>
                                <li><a href="#">광주광역시</a></li>
                                <li><a href="#">부산광역시</a></li>
                                <li><a href="#">서울특별시</a></li>
                                <li><a href="#">세종특별자치시</a></li>
                                <li><a href="#">울산광역시</a></li>
                                <li><a href="#">인천광역시</a></li>
                                <li><a href="#">제주특별자치도</a></li>
                                <li><a href="#">전라남도</a></li>
                                <li><a href="#">전라북도</a></li>
                                <li><a href="#">충청남도</a></li>
                                <li><a href="#">충청북도</a></li>
                            </ul>
                        </div>
                        <div>
                            <p>여가별</p>
                            <p>관광정보</p>
                            <ul class="uk-list uk-list-hyphen uk-list-collapse uk-link-muted">
                                <li><a href="#">숙소</a></li>
                                <li><a href="#">관광지</a></li>
                            </ul>
                            <p>레저/스포츠</p>
                            <ul class="uk-list uk-list-hyphen uk-list-collapse uk-link-muted">
                                <li><a href="#">어트렉션</a></li>
                                <li><a href="#">산/계곡</a></li>
                                <li><a href="#">바다</a></li>
                            </ul>
                            <p>맛집/음식점</p>
                            <ul class="uk-list uk-list-hyphen uk-list-collapse uk-link-muted">
                                <li><a href="#">일반음식점</a></li>
                                <li><a href="#">레스토랑</a></li>
                                <li><a href="#">재래시장</a></li>
                            </ul>
                        </div>
                        <div>
                            <p>계절별</p>
                            <ul class="uk-list uk-list-hyphen uk-list-collapse uk-link-muted">
                                <li><a href="#">봄</a></li>
                                <li><a href="#">여름</a></li>
                                <li><a href="#">가을</a></li>
                                <li><a href="#">겨울</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </li>
        </ul>

        <ul class="uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-5@l uk-child-width-1-6@xl uk-grid">
            <!--            <ul class="uk-flex uk-flex-around uk-flex-wrap-around uk-flex-" style="width: 100%;border: 1px solid;">-->
            <li class="uk-margin-medium-bottom uk-padding-remove-left uk-margin-medium-left"
                th:each="upload : ${uploadList}">
                <a th:href="@{'/upload/detail.do'(uploadNo=${upload.uploadNo})}">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <!-- 썸네일 사진 길이를 맞추거나, 다른 정렬 방법 필요. -->
                            <th:block th:if="${upload.uploadImgList!=null&&upload.uploadImgList.size>0}">
                                <img alt=""
                                     class="uk-object-cover" style="width: 300px;height: 300px;object-fit: cover"
                                     th:src="@{'/img/upload/{file}'(file=${upload.uploadImgList[0].imgPath})}">
                            </th:block>
                            <th:block th:unless="${upload.uploadImgList!=null&&upload.uploadImgList.size>0}">
                                <img alt=""
                                     style="width: 300px;height: 300px;object-fit: cover"
                                     th:src="@{'/img/uploadSample/travel/traffic-car-wheel-window-glass-driving-1351201-pxhere.com.jpg'}">
                            </th:block>
                        </div>
                        <div class="uk-card-header">
                            <!-- 제목 -->
                            <div class="uk-flex uk-flex-between">
                                <th:block th:if="${upload.title.length() > 15 }">
                                    <p class="uk-text-bold" th:text="${upload.title.substring(0,14)}+'...'">
                                    </p>
                                </th:block>
                                <th:block th:unless="${upload.title.length()>15}">
                                    <p class="uk-text-bold" th:text="${upload.title}"></p>
                                </th:block>
                            </div>
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img alt="Avatar" class="uk-border-circle" height="40"
                                         src="http://via.placeholder.com/40" width="40">
                                </div>
                                <div class="uk-width-expand">
                                    <!-- 이름(id) mapper 에서 resultMap 으로 유저 전체 정보를 받아와 이름도 같이 출력할 것 -->
                                    <div class="uk-flex uk-flex-between">
                                        <p class="uk-margin-remove-bottom"
                                           th:text="${upload.user.name+'('+upload.userId+')'}"></p>
                                    </div>
                                    <div class="uk-flex prefer uk-flex-between">
                                        <p class="uk-text-small uk-margin-remove-top"
                                           th:text="${#calendars.format(upload.postdate,'yyyy-MM-dd')}"></p>
                                        <div class="uk-text-small">
                                            <i aria-hidden="true" class="fa fa-commenting-o"></i>
                                            <th:block th:if="${upload.replyList!=null}">
                                                <span th:text="${upload.replyList.size()}"></span>
                                            </th:block>
                                            <th:block th:unless="${upload.replyList!=null}">
                                                <span>0</span>
                                            </th:block>
                                        </div>
                                        <div class="uk-text-small">
                                            <i aria-hidden="true" class="fa fa-eye"></i>
                                            <span th:text="${upload.views}"></span>
                                        </div>
                                    </div>
                                    <!-- 등록일 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

        </ul>
    </div>
    <!--    <th:block th:text="${paging}"></th:block>-->
    <th:block th:include="pagination"></th:block>
</main>
<footer>

</footer>
</body>
</html>