<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twy.tripwithyou_spring.mapper.MatchingMapper">
    <resultMap id="matchingMap" type="MatchingDto" autoMapping="true">
        <id column="matching_no" property="matchingNo"/>
        <result column="tdestination" property="tDestination"/>
        <result column="title" property="title"/>
        <result column="tstart" property="tStart"/>
        <result column="tend" property="tEnd"/>
        <result column="tmember" property="tMember"/>
        <result column="local_no" property="localNo"/>
        <result column="user_id" property="userId"/>
    </resultMap>
    <insert id="insert" parameterType="MatchingDto">
        INSERT INTO matching (tdestination, tmember, title, local_no, user_id)
            VALUE (#{tDestination},#{tMember}, #{title}, #{localNo}, #{userId})
    </insert>
    <select id="findByStartAndEnd" resultType="com.twy.tripwithyou_spring.dto.MatchingDto">
        SELECT * FROM matching WHERE tstart= #{tStart} and tend= #{tEnd}
    </select>
    <select id="findAll" resultType="com.twy.tripwithyou_spring.dto.MatchingDto">
        SELECT * FROM matching
    </select>
</mapper>