<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twy.tripwithyou_spring.mapper.ReplyMapper">
    <resultMap id="replyListMap" type="com.twy.tripwithyou_spring.dto.ReplyDto" autoMapping="true">
        <id property="replyNo" column="reply_no"/>
        <result property="uploadNo" column="upload_no"/>
        <result property="userId" column="user_id"/>
        <result property="rContent" column="rcontent"/>
        <result property="rDate" column="rdate"/>
        <result property="fkReplyNo" column="fk_reply_no"/>
        <collection property="replyList"
        autoMapping="true"
        javaType="java.util.ArrayList"
        ofType="ReplyDto"
        select="findByFkReplyNo"
        fetchType="lazy"
        column="reply_no"/>
    </resultMap>
    <insert id="insert">
        INSERT INTO tripwithyou.reply (upload_no, user_id, rcontent, rdate, fk_reply_no)
            VALUE (#{uploadNo}, #{userId}, #{rContent}, #{rDate}, #{fkReplyNo})
    </insert>
    <select id="countByUploadNo" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tripwithyou.reply WHERE upload_no= #{upload_no} AND fk_reply_no= #{fkReplyNo}
    </select>
    <select id="findByUploadNo" resultType="com.twy.tripwithyou_spring.dto.ReplyDto">
        SELECT * FROM tripwithyou.reply WHERE upload_no= #{upload_no} AND fk_reply_no= #{fkReplyNo}
    </select>
    <select id="findByFkReplyNo" resultType="com.twy.tripwithyou_spring.dto.ReplyDto">
        SELECT *
        FROM tripwithyou.reply
        WHERE fk_reply_no = #{replyNo}
    </select>
    <select id="countAll" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tripwithyou.reply
    </select>
</mapper>