<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twy.tripwithyou_spring.mapper.UploadImgMapper">
    <resultMap id="uploadImgMap" type="UploadImgDto">
        <id column="upload_img_no" property="imgNo"/>
        <result column="upload_no" property="uploadNo"/>
        <result column="img_path" property="imgPath"/>
    </resultMap>
    <insert id="insertOne">
        INSERT INTO UPLOAD_IMG (upload_no,img_path) VALUES (#{uploadNo},#{imgPath})
    </insert>
    <delete id="deleteOne">
        DELETE FROM UPLOAD_IMG WHERE upload_img_no=#{uploadImgNo}
    </delete>
    <select id="findByUploadNo" resultMap="uploadImgMap">
        SELECT * FROM UPLOAD_IMG WHERE upload_no=#{uploadNo}
    </select>
    <select id="findById" resultMap="uploadImgMap">
        SELECT * FROM UPLOAD_IMG WHERE upload_img_no=#{uploadImgNo}
    </select>
</mapper>