<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twy.tripwithyou_spring.mapper.VehicleMapper">
    <resultMap id="vehicleMap" type="VehicleDto" autoMapping="true">
        <id column="vehicle_no" property="vehicleNo"/>
        <result column="course_no" property="courseNo"/>
    </resultMap>
    <insert id="insert" useGeneratedKeys="true" keyProperty="vehicleNo">
        INSERT INTO vehicle (course_no, vday, vorder, vtype, memo)
        VALUES (#{courseNo}, #{vDay}, #{vOrder}, #{vType}, #{memo})
    </insert>
    <delete id="deleteByCourseNo">
        DELETE FROM vehicle WHERE course_no=#{courseNo}
    </delete>
    <select id="findAll" resultMap="vehicleMap">
        SELECT * FROM vehicle
    </select>
    <select id="findByCourseNo" resultMap="vehicleMap">
        SELECT * FROM vehicle WHERE course_no=#{courseNo}
    </select>
</mapper>