<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/uikit/css/uikit-rtl.css" rel="stylesheet">
    <script src="/uikit/js/uikit.js"></script>
    <script src="/uikit/js/uikit-icons.js"></script>
</head>
<body>
<header>
    <th:block th:replace="/headerNav"></th:block>
</header>
<main class="uk-container">
    <th:block layout:fragment="contents"></th:block>
</main>
</body>
</html>