<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/index.css" rel="stylesheet">
    <style>
        th, td {
            border: 1px solid #e7e7e7;
        }

        table {
            background-color: #99a693;
        }

        #dfdf {
            background-color: #8c9db0;
        }
    </style>
</head>
<body>
<th:block th:include="headerNav"></th:block>
<h1>업로드 메인입니다.</h1>
<p>김오정</p>
<div style="width: 100%;">
    <div style="width: 100%;text-align: center;height: 150px;background-color: cornsilk;">
    상단메뉴 입니다.
    </div>
    <div style="display:flex;margin: 10px;">
        <div id="dfdf" style="width: 400px;height: 800px;">
            이것은 네모입니다.
        </div>
        <table style="border-collapse: collapse;width: 1200px;margin: 0 auto;">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
                <th>좋아요</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            <tr>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
                <td>샘플</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        하단 부분입니다.
    </div>
</div>
<footer>

</footer>
</body>
</html>