<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<th:block class="commentsList" th:each="reply:${replyList}">
    <!-- 댓글 for문 시작 -->
    <div class="comment" th:id="'replyContainer'+${reply.replyNo}">
        <div>
            <!-- 유저 프로필 이미지 -->
            <img alt="" src="https://via.placeholder.com/50/">
            <span class="userInfo">
                        <!-- 유저 정보 -->
                <!-- getName,getUserId,getPostTime -->
                <span th:text="${reply.userId}"></span>
                <small th:text="${reply.getRDate()}"></small>
            </span>
        </div>
        <!-- 댓글 내용 getRcontent -->
        <div style="text-indent:50px" th:text="${reply.getRContent()}">
            Lorem ipsum dolor sit amet.
        </div>
        <hr>
        <!-- 대댓글 목록 if(대댓글 !=null){ -->
        <div class="incommentList">
            <!-- for문(){ -->
            <div class="incomment">
                <div>
                    <!-- 유저 정보들 -->
                    <img alt="" src="https://via.placeholder.com/50/">
                    <span class="userInfo">
                                dddd
                                (test123)
                                <small>2022.12.12 18:56</small>
                                </span>
                </div>
                <!-- rcontent -->
                <div style="text-indent:50px">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <hr>
                <!-- 대댓글 for문 종료
                     대댓글 존재유무 if 종료 -->
            </div>
        </div>
    </div>
    <!-- 댓글 for문 종료 -->
    <div class="comment">
        <div>
            <img alt="" src="https://via.placeholder.com/50/">
            <span class="userInfo">
                            김현섭
                            (kkhs224)
                            <small>2022.12.10 18:56</small>
                        </span>
        </div>
        <div style="text-indent:50px">
            Lorem ipsum dolor sit amet.
        </div>
        <hr>
        <div class="incommentList">
            <div class="incomment">


            </div>
        </div>
    </div>
</th:block>
</html>