<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/matching/matchingRegister.css">
</head>
<body>
<!-- 헤더 -->
<header>
  <th:block th:include="headerNav"></th:block>
  <th:block th:include="headerNavMenu"></th:block>
</header>

<!-- 등록 폼 -->
<form class="registerForm" action="" method="post" enctype="multipart/form-data">
  <input type="date" name="tStart"> - <input type="date" name="tEnd"> - <input type="text" name="tMember" placeholder="인원수">
  <input type="hidden" name="userId" th:value="${session.loginInfo.userId}">
  <div>
    <label for="imgChoice"></label>
    <input type="file" id="imgChoice">
  </div>
  <div>
    <input type="text" name="title" placeholder="타이틀">
  </div>
  <div>
    <input type="text" name="tDestination" placeholder="목적지">
  </div><div>
  <input type="text" name="localNo" placeholder="지역번호">
</div>
  <div>
    <textarea name="contents" id="contents" cols="30" rows="10" placeholder="내용 입력.."></textarea>
  </div>
  <div>
    <button style="width: 150px; height: 30px;">취소</button>
    <button style="width: 150px; height: 30px;">등록</button>
  </div>
</form>
</body>
</html>