/* 전체 css 적용 부분 */
* {
    box-sizing: border-box;
}

body {
    padding-top: 160px;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


/* 사이트 이름 그라데이션 코드 */
.subject {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    display: block;
    padding-top: 29px;
    letter-spacing: 2px;
    text-align: center;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #4ff326, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: name 10s infinite linear;
}

@keyframes name {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}


/* 슬라이드 이미지 */
#slider {
    margin: 50px 100px 0 100px;
    overflow: hidden;
    position: relative;
    height: 500px;
    box-shadow: 0 0 20px gray;
}

.image-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    animation: bannermove 10s linear infinite;
}

#slider > .image-box img {
    height: 300px;
}

@keyframes bannermove {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-50%, 0);
    }
}


/* 내브바 포함 헤더 */
.banner > h1 {
    text-align: center;
    font-size: 60px;
}

header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}


/* 맨위 헤더 */
.inline {
    display: flex;
}

.inline .inline-col-group {
    height: 100px;
}

.inline .inline-col-group .right-menu {
    display: flex;
}

.inline .inline-col-group .right-menu a {
    text-align: center;
}

.inline .inline-col-group .login, .inline .inline-col-group .mypage,.inline .inline-col-group .service-center {
    padding-right: 20px;
    padding-top: 36px;
    width: max-content;
}

/* 내브바 */
.nav {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.nav > div {
    padding: 16px 20px;
    transition: background-color .5s;
}

.nav > div > a {
    font-weight: lighter;
    display: block;
}

.nav > div:hover {
    background-color: #ddd;
}


/* 푸터 */
footer {
    height: 300px;
    width: 100%;
    background-color: antiquewhite;
}

.match {
    margin-top: 200px;
    width: 100%;
    height: 500px;
    background-color: #ddd;
}
/*plan 구역 */
.planContainer {
    width: 100%;
    height: 500px;
    background-color: rgb(0,0,0,0.200);
    position: relative;
}
.planContainer .planHeading{
    width:60%;
    text-align: center;
    position:absolute;
    top:50%;
    left:75%;
    transform: translate(-50%,-50%);
}
.planContainer .planHeading h1{
    font-weight: 700;
    color:white;
}
.planContainer .planHeading h1 span{
    color:crimson;
    display: block;
}
.planContainer .planHeading button{
    display:inline-block;
    background-color:#F7422F;
    /*#EC7063*/
    opacity: 0.9;
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    height: 50px;
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    cursor:pointer;
}
.planContainer .planHeading button:hover{
    background-color: #D63828;
    opacity:0.7;
}
.planContainer video{
    min-width: 100%;
    min-height: 100%;
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: -1;
}

.wiki {
    width: 100%;
    height: 500px;
    background-color: rgb(172, 170, 249);
}