<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twy.tripwithyou_spring.mapper.CoursePlaceMapper">
    <resultMap id="coursePlaceMap" type="CoursePlaceDto" autoMapping="true">
        <id column="c_place_no" property="cPlaceNo"/>
        <result column="img_path" property="imgPath"/>
        <result column="course_no" property="courseNo"/>
        <result column="pday" property="pDay"/>
        <result column="porder" property="pOrder"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="cPlaceNo">
        INSERT INTO course_place (name, address, img_path, rate,course_no, pday, porder, memo)
        VALUES (#{name}, #{address}, #{imgPath},  #{rate}, #{courseNo}, #{pDay}, #{pOrder}, #{memo})
    </insert>
    <delete id="deleteByCourseNo">
        DELETE FROM course_place WHERE course_no=#{courseNo}
    </delete>
    <select id="findAll" resultMap="coursePlaceMap">
        SELECT * FROM course_place
    </select>
    <select id="findByCourseNo" resultMap="coursePlaceMap">
        SELECT * FROM course_place WHERE course_no=#{courseNo}
    </select>
</mapper>