<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/course/google_map.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="/js/course/google_map.js" defer></script>
    <script src="/js/course/bar.js" defer></script>
</head>

<body>
<div class="barContainer position-absolute">
    <button type="button" id="leftBarBtn" class="dropBtn">장소 찾기</button>
    <div id="left-bar" class="content drop-content">
        <div class="drop-bar">
            <h5>장소 검색</h5>
            <form name="search">
                <input type="text" name="search_text">
                <button>검색</button>
            </form>
            <h5>장소</h5>
            <form class="added" name="addedPlaces" method="post" action="/course/map">
                <textarea name="json" id="" cols="30" rows="10" style="display: none;"></textarea>
                <button>코스짜기!</button>
            </form>
        </div>
    </div>
</div>
<div class="barContainer position-absolute end-0">
    <button type="button" id="rightBarBtn" class="dropBtn">검색 결과</button>
    <div id="right-bar" class="content drop-content">
        <div class="drop-bar">
            <h5>검색 결과</h5>
            <div class="searchResults">
            </div>
        </div>
    </div>
</div>
<div id="map"></div>
</body>

</html>