<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여행 계획 상세페이지</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/css/course/register.css">
    <link rel="stylesheet" href="/css/course/base.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <script src="/uikit/js/uikit.js"></script>
    <script src="/js/course/register.js" defer></script>
</head>

<body>
<th:block th:include="headerNav"></th:block>
<!--<h1 th:text="${session.placeIdList}"></h1>세션으로 받아짐!-->
<!-- 장소선택 사이드 바 -->
<!--<th:block th:each="json:${session.jsonList}">-->
<!--    <input type="text" th:value="${json}" class="placeIdDiv" style="display:none" readonly></input>-->
<!--</th:block>-->
<div id="map" style="display:none"></div>
<div class="position-fixed mx-3 p-3" id="locList">
    <span class="my-2">선택한 장소(drag & paste)</span>
    <div class="overflow-auto dragBox" uk-sortable="group: sortable-group" id="locListCard" style="height: 50vh;" >
        <!-- #1 card -->
        <th:block th:each="i : ${#numbers.sequence(0,session.coursePlaceList.size()-1)}">
            <div class="card p-0 draggable item m-1 courseplace" th:id="'src_move'+${i+1}" draggable="true" ondragstart="dragstart(event);" ondragend="dragend(event);"
                 th:data-name="${session.coursePlaceList.get(i).name}"
                 th:data-address="${session.coursePlaceList.get(i).address}"
                 th:data-rate="${session.coursePlaceList.get(i).rate}">
                <div class="row g-0">
                    <div class="col-sm-4">
                        <img src=""
                             class="img-fluid rounded-start"
                             style="height:100%"
                             th:alt="${session.coursePlaceList.get(i).name}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-1">
                            <h5 class="card-title" id="name" th:text="${session.coursePlaceList.get(i).name}"></h5>
                            <p class="card-text p-0 m-0 " id="address" th:text="${session.coursePlaceList.get(i).name}"></p>
                            <div class="moreInfo text-end">
                                <a class="card-text p-0 m-0" href="#">
                                    <small class="text-muted">더보기</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="cardJson" th:text="${session.jsonList.get(i)}"></p>
                </div>
            </div>
        </th:block>
    </div>
</div>
<!-- 대중교통 선택 사이드 바 -->
<div class="position-fixed mx-3 p-3" id="transportList">
    <span class="my-2">이동수단(drag&paste)</span>
    <div class="overflow-auto dragBox" id="transportListCard" style="height: 50vh;">
        <!-- #t1 card -->
        <div class="card draggable p-0 dragCopy m-2" id="src_copy1" draggable="true" ondragstart="dragstart(event);"
             ondragend="dragend(event);">
            <div class="row g-0 m-0">
                <div class="col-sm-4" style="text-align: center;">
                    <i class="fa fa-bus" style="font-size: 2em; line-height:1.5em" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-1">
                        <h5 class="transport-card-title" >버스</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- #t2 card -->
        <div class="card draggable p-0 dragCopy m-2" id="src_copy2" draggable="true" ondragstart="dragstart(event);"
             ondragend="dragend(event);">
            <div class="row g-0 m-0">
                <div class="col-sm-4" style="text-align: center;">
                    <i class="fa fa-subway" style="font-size: 2em; line-height:1.5em" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-1">
                        <h5 class="transport-card-title" >지하철</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- #t3 card -->
        <div class="card draggable p-0 dragCopy m-2" id="src_copy3" draggable="true" ondragstart="dragstart(event);"
             ondragend="dragend(event);" >
            <div class="row g-0 m-0">
                <div class="col-sm-4" style="text-align: center;">
                    <i class="fa fa-child" style="font-size: 2em; line-height:1.5em" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-1">
                        <h5 class="transport-card-title" >도보</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- #t4 card -->
        <div class="card draggable p-0 dragCopy m-2" id="src_copy4" draggable="true" ondragstart="dragstart(event);"
             ondragend="dragend(event);" >
            <div class="row g-0 m-0">
                <div class="col-sm-4" style="text-align: center;">
                    <i class="fa fa-car" style="font-size: 2em; line-height:1.5em" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-1">
                        <h5 class="transport-card-title">자차</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- #t5 card -->
        <div class="card draggable p-0 dragCopy m-2" id="src_copy5" draggable="true" ondragstart="dragstart(event);"
             ondragend="dragend(event);">
            <div class="row g-0 m-0">
                <div class="col-sm-4" style="text-align: center;">
                    <i class="fa fa-train" style="font-size: 2em; line-height:1.5em" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-1">
                        <h5 class="transport-card-title">기차</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card draggable p-0 dragCopy m-2" id="src_copy6" draggable="true" ondragstart="dragstart(event);"
             ondragend="dragend(event);" >
            <div class="row g-0 m-0">
                <div class="col-sm-4" style="text-align: center;">
                    <i class="fa fa-bicycle" style="font-size: 2em; line-height:1.5em" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-1">
                        <h5 class="transport-card-title">자전거</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card draggable p-0 dragCopy m-2" id="src_copy7" draggable="true" ondragstart="dragstart(event);"
             ondragend="dragend(event);" >
            <div class="row g-0 m-0">
                <div class="col-sm-4" style="text-align: center;">
                    <i class="fa fa-motorcycle" style="font-size: 2em; line-height:1.5em" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-1">
                        <h5 class="transport-card-title">오토바이</h5>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>


<main class="container">
    <div>
        <h1 class="my-4">플래너 상세페이지</h1>
    </div>

    <!--action="/course/{courseNo}/detail"로 바꾸기-->
    <form action="/course/register" id="plannerRegister" name="plannerRegister" method="post">
        <!-- 여행 제목 -->
        <div class="mb-3">
            <label for="planTitle" class="form-label">여행 제목</label>
            <input name="title" value="등록시도1" type="text" class="form-control" id="planTitle" required>
            <div id="titleHelp" class="form-text">이번 여행의 이름을 정해보세요!</div>
        </div>
        <!-- 작성자, 작성날짜 -->
        <div class="mb-3 d-flex justify-content-between">
            <div class="col-5">
                <label for="planUser" class="form-label">작성자</label>
                <input name="userId" value="user1" type="text" class="form-control" id="planUser" required>
            </div>
            <div class="col-6">
                <label for="planDate" class="form-label" >작성날짜(NOW)</label>
                <input name="postdate" value="" type="Date" class="form-control" required readonly id="planDate">
            </div>
        </div>
        <!-- 여행 목적 -->
        <div class="mb-3">
            <label for="planPurpose" class="form-label">여행 목적</label>
            <input name="contents" value="목적1" type="text" class="form-control" id="planPurpose" required>
        </div>
        <!-- 썸네일 사진 -->
        <div class="mb-3 input-group w-75">
            <label for="thumbnailImg" class="input-group-text">코스 대표 사진</label>
            <input name="image" value="" type="file" class="form-control" id="thumbnailImg">
        </div>
        <!-- 여행 일정 -->
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <div class="col-5">
                    여행 일정
                    <label for="planStartDate" class="form-label">시작날</label>
                    <input name="startdate" value="" type="date" class="form-control" id="planStartDate" placeholder="시작날" required>
                </div>
                <div class="col-5">
                    <label for="planEndDate" class="form-label">마지막날</label>
                    <input name="enddate" value="" type="date" class="form-control" id="planEndDate" placeholder="마지막날" required>
                </div>
            </div>
            <div class="mt-3">
                <label for="planDays" class="form-label">몇박몇일?</label>
                <input name="planDuration" class="form-control" type="text" readonly>
                <input name="duration" value="" type="hidden" class="form-control" id="planDays" placeholder="몇박 몇일" required>
            </div>
        </div>
        <!-- 여행 예산 -->
        <div class="mb-3">
            <label for="planBudget" class="form-label">여행 예산</label>
            <input name="budget" type="text" class="form-control w-75" id="planBudget" placeholder="20">만원
        </div>
        <!--선택 장소, 대중교통 옮길 박스 -->
        <div class="mb-3" id="planDayList">
            <div id="allignCard">
                <span>사용방법: 여행할 장소와 이용할 대중교통을 드래그하여 각 일별로 나열해보세요.</span>
                <div class="dayBoxContainer d-flex overflow-auto flex-nowrap" id="dayContainer">

                </div>

            </div>
        </div>
        <!-- 제출 버튼 -->
        <div class="btnBox">
            <button class="btn btn-warning">뒤로가기</button>
            <button class="btn btn-success">초기화</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <textarea name="courseJson"  cols="30" rows="10"></textarea>
        <textarea name="uploadJson"  cols="30" rows="10"></textarea>
        <textarea name="placeListJson"  cols="30" rows="10"></textarea>
        <textarea name="vehicleListJson"  cols="30" rows="10"></textarea>
    </form>


</main>

</body>

</html>