<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:body>
    <form action="/reply/register.do" class="insertComment" method="POST" name="replyRegisterForm">
        <p><b th:text="${session.loginInfo.name}"></b></p>
        <input name="uploadNo" th:value="${param.uploadNo}" type="hidden">
        <input name="userId" th:value="${session.loginInfo.userId}" type="hidden">
        <input name="fkReplyNo" type="hidden">
        <textarea name="rContent" placeholder="댓글을 남기세요." rows="2" style="width: 100%;" type="text"></textarea>
        <button class="uk-button uk-button-text uk-text-primary" type="submit">등록</button>
    </form>
</th:body>
</html>