<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <script src="/uikit/js/uikit-icons.js"></script>
    <script src="/uikit/js/uikit.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .header a,
        .inline a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
<header>
    <th:block th:include="headerNav"></th:block>
    <th:block th:include="headerNavMenu"></th:block>
</header>
<main class="uk-container uk-container-expand">
    <form action="/upload/register.do" method="post" enctype="multipart/form-data" class="uk-margin-top">
        <input type="text" hidden="hidden" value="1" name="upType">
        <fieldset class="uk-fieldset">

            <legend class="uk-legend uk-margin">게시글 작성</legend>
            <label>
                제목 :
                <div class="uk-margin">
                    <input name="title" class="uk-input" type="text" placeholder="제목을 입력하세요">
                </div>
            </label>

            <div class="uk-margin uk-child-width-1-3 uk-flex">
<!--                <div class="uk-margin uk-margin-remove-top">-->
<!--                    <select name="loc" class="uk-select" aria-label="Select">-->
<!--                        <option>지역 선택</option>-->
<!--                        <option value="1">서울</option>-->
<!--                        <option value="2">부산</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="uk-margin uk-margin-remove-top">-->
<!--                    <select name="loc" class="uk-select" aria-label="Select">-->
<!--                        <option>분야 선택</option>-->
<!--                        <option value="1">음식점/맛집</option>-->
<!--                        <option value="2">스포츠/레저</option>-->
<!--                    </select>-->
<!--                </div>-->
                <div class="uk-margin uk-margin-remove-top">
                    <select name="upstate" class="uk-select" aria-label="Select">
                        <option value="1">공개</option>
                        <option value="2">비공개</option>
                    </select>
                </div>
                <div class="uk-margin uk-margin-remove-top">
                    <label class="uk-form-label">
                        <input name="userId" class="uk-input" value="user1" >
                    </label>
                </div>
            </div>
            <!--임시 이미드 업로드-->
            <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                    <input type="file" name="imgFile" aria-label="Custom controls">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" aria-label="Custom controls" disabled>
                </div>
            </div>
            <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                    <input type="file" name="imgFile" aria-label="Custom controls">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" aria-label="Custom controls" disabled>
                </div>
            </div>
            <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                    <input type="file" name="imgFile" aria-label="Custom controls">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" aria-label="Custom controls" disabled>
                </div>
            </div>
            <!---->
            <div class="uk-margin">
                후기 내용 작성:
                <textarea name="contents" class="uk-textarea uk-height-medium" rows="5" placeholder="후기 내용을 작성하세요." aria-label="Textarea"></textarea>
            </div>

        </fieldset>
        <button type="submit" class="uk-button uk-button-secondary uk-margin-bottom">등록</button>
    </form>
</main>

</body>
</html>