<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/index.css" rel="stylesheet">
    <title>TRIP WITH YOU</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:include="headerNav"></th:block>
<th:block th:include="headerNavMenu"></th:block>
<!-- 슬라이더 (움직이는 이미지) -->
    <div class="banner"><h1><b>PICK OF THE WEEK</b></h1></div>
    <div id="slider">
        <div class="image-box">
            <div><img alt="" src="/img/main1.jpeg">
            </div>
            <div><img alt="" src="/img/main2.jpeg"></div>
            <div><img alt="" src="/img/main3.jpeg">
            </div>
            <div><img alt="" src="/img/main4.jpeg"></div>
            <div><img alt="" src="/img/main5.png">
            </div>
            <!--   clone     -->
            <div class="clone"><img alt="" src="/img/main1.jpeg">
            </div>
            <div class="clone"><img alt="" src="/img/main2.jpeg"></div>
            <div class="clone"><img alt="" src="/img/main3.jpeg">
            </div>
            <div class="clone"><img alt="" src="/img/main4.jpeg"></div>
            <div class="clone"><img alt="" src="/img/main5.png"></div>
        </div>
    </div>
    <!-- 밑으로는 각 컨텐츠 -->
    <div class="match" style="display:flex;justify-content:center;padding: 5px;">
        <h1>여행 매칭</h1>
        <img style="margin: 0px auto;width: max-content;" src="/img/match/KakaoTalk_20221228_135447517.png" alt="" srcset="">
    </div>
    <div class="course" style="position: relative">
        <div class="planHeading" style="position: absolute;right: 0;">
            <h1>
                <span>알찬 여행을 위한 여행 계획</span><br>
                어디에서 무엇을 만나든 당황하지 않지!
            </h1>
            <a id="planBtn" href="/course/courseMain" style="background-color:rgba(203,186,186,0.51);z-index: 10">여행 계획 만들러가기!</a>
        </div>
        <video src="/img/course/Plane%20-%2032975.mp4" autoplay loop muted></video></div>
    <div class="upload" style="display:flex;justify-content:center;padding: 5px;position: relative;">
        <img src="/img/upload/rrrrr.PNG" style="border-radius: 15px;box-shadow: 0px 0px 10px #2b2a46">
        <img src="/img/upload/5965689.png" alt="">
    </div>
    <div class="footer"><h1>푸터</h1></div>
</body>
</html>
